/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .footer {
    width: 50%;
    margin-bottom: 50px;
  }

  .footer-link {
    font-size: 18px;
  }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    flex-direction: column;
  }

  .footer {
    width: 100%;
  }


  .footer-link {
    font-size: 16px;
  }
}